<h1 class="alert alert-success text-center">XOX Oyunu</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4" *ngFor="let g of games">
          <button (click)="setMark(g.id)" class="btn btn-primary gameBtn">
            {{g.value}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 mx-3">
      <h4 *ngIf="!isFinish" class="alert alert-info text-center">Sıradaki: {{next}}</h4>
      <h4 *ngIf="isFinish" class="alert alert-info text-center">{{resultMessage}}</h4>
      <button class="btn btn-danger w-100" (click)="newGame()">Yeni Oyun</button>
      <hr>
      <div *ngFor="let move of gameMoves let index = index">
        <button class="btn btn-outline-primary mt-1 w-100" (click)="goThatMove(move)">
          {{index + 1}}. Hamle
        </button>
      </div>
    </div>
  </div>
</div>